<% @products.each do |p| %>
<div class="w3-container">
	<div class="w3-card-2">
		<div class="w3-blue">
		<%= p.product_name %> <br>
		</div>

		<%= p.product_price %> <br>
		<%= p.product_description %> <br>
		<%= p.user.email %> <br>
		<%= link_to 'Ver', product_path(p) %>
		<%= link_to 'Editar', edit_product_path(p) %>
	</div>
</div>
<br>
<% end %>