<!DOCTYPE html>
<html>
<head>

  <title>ProductPublisher</title>
 
  	<%= csrf_meta_tags %>

	<link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
</head>
<body>
 <ul class="w3-navbar w3-black">
  <li><%= link_to 'Home', root_path %></li>
  <li><%= link_to 'Products', products_path %></li>
  <li><%= link_to 'Users', users_path %></li>
</ul>
<%= yield %>

</body>
</html>
